* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container-fluid {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-text {
    color: #666;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  
  .form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  
  .navigation-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .app-header {
    font-size: 24px;
    text-align: center;
    color: #355e3b;
    margin-bottom: 20px;
  }
  
  
  .buyers-container {
    margin-bottom: 20px;
  }
  
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  
  .admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px; 
  }
  
  .admin-title {
    color: #333; 
    font-size: 2rem; 
  }
  
  .admin-section {
    margin-top: 20px; 
  }
  
  .admin-message-container {
    margin-top: 20px; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
  }
  
  .admin-message-container p {
    font-size: 1.2rem; 
    color: #666; 
  }
  
  .admin-message-container button {
    padding: 10px 20px; 
    font-size: 16px; 
    color: #fff;
    background-color: #dc3545; 
    border: none; 
    cursor: pointer; 
    border-radius: 25px;
    margin-top: 10px; 
  }
  
  .admin-message-container button:hover {
    background-color: #bb2d3b; 
  }