body {
  margin: 0; 
  padding: 0; 
  background-image: url("./images/solar.jpeg");
  background-size: 100%; 
  
}

.app-header {
  position: top; /* Ensure header is fixed at the top */
  top: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1000; 
}

.app-header h3 {
  margin: 0;
  font-size: 24px;
  color: #0c0909;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 999; 
}

.nav-bar a, .nav-toggle {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
  margin: 0 10px;
}

.nav-bar a:hover, .nav-toggle:hover {
  color: #070606; 
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-toggle {
  display: none; /* Hidden by default */
  cursor: pointer;
}



main {
  position: relative;
  padding: 20px;
  z-index: 1; 
}
